join freenode:#haskell
join freenode:#haskell-beginners
join freenode:#ghc
join freenode:#haskell-blah
join freenode:#hackage
join freenode:#haskell-infrastructure
join freenode:#haskell-in-depth
join freenode:#haskell-overflow
join freenode:#haskell.au
join freenode:#haskell-fr
join freenode:#haskell.tw
join freenode:#haskell-it
join freenode:#haskell.se
join freenode:#haskell-by
join freenode:#haskell-id
join freenode:#haskell.fi
join freenode:#haskell.de
join freenode:#haskell.cz
join freenode:#haskell-cn
join freenode:#haskell.no
join freenode:#haskell-pl
join freenode:#haskell_ru
join freenode:#haskell.ru
join freenode:#haskell.jp
join freenode:#haskell.es
join freenode:#haskell-br
join freenode:#haskell.vn
join freenode:#haskell.dut
join freenode:#haskell.hr
join freenode:#macosx
join freenode:#scala
join freenode:#learnprogramming
join freenode:#xmonad
join freenode:#haskell-lens
join freenode:#agda
join freenode:#friendly-coders
join freenode:#ledger
join freenode:#esoteric
join freenode:#reflex-frp
join freenode:#scalaz
join freenode:##logic
join freenode:#haskell-game
join freenode:##categorytheory
join freenode:##proggit
join freenode:#lw-prog
join freenode:#numerical-haskell
join freenode:#lpmc
join freenode:#bfpg
join freenode:#gentoo-haskell
join freenode:#cplusplus.com
join freenode:#hledger
join freenode:#darcs
join freenode:#diagrams
join freenode:#snapframework
join freenode:#haskell-gsoc
join freenode:#yi
join freenode:#rosettacode
join freenode:#clash-lang
join freenode:#learnmath
join freenode:#haskell-llvm
join freenode:#nicta-course
join freenode:#mainehackerclub
join freenode:#haskell-FreeBSD
join freenode:#happs
join freenode:#haskell.scandinavian
join freenode:#scala.pl
join freenode:#archlinux-haskell
join freenode:#plaimi
join freenode:#scannedinavian
join freenode:#fedora-haskell
join freenode:#vinyl
join freenode:#macosxdev
join freenode:#fp@nith
join freenode:#csa_uva
join freenode:##megaharem
join freenode:#lysa
join freenode:#hilbertspace
join freenode:#functionaljava
join freenode:##scalaz
join freenode:#unicycling
join freenode:#tanuki
join freenode:#haskell-soc
join freenode:#aurapm
join freenode:#qfpl
join freenode:#the-fort
